{# Footer Area #}
<footer class="footer-wrapper footer-layout1">
    <div class="shape-mockup footer-bg-shape1-1" data-left="50%" data-bottom="-50%">
        <img src="/assets/img/shape/footer-bg-shape2.png" alt="background shape">
    </div>
    <div class="container">
        <div class="footer-top">
            <div class="shadow-text text-lg-center" data-cue="slideInUp">Let's Talk</div>
            <div class="row gy-30 justify-content-lg-around ">
                <div class="col-xl-4 col-lg-6" data-cue="slideInUp">
                    <div class="contact-info-card contact-location-info">
                        <p class="box-title">United Arab Emirates</p>
                        <h4 class="box-text">16th Floor Al Khatem Tower,</br>ADGM Square,</br>Abu Dhabi</h4>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6" data-cue="slideInUp">
                    <div class="contact-info-card contact-location-info">
                        <p class="box-title">Netherlands</p>
                        <h4 class="box-text">Europalaan 500,</br>3526 KS Utrecht,</br>The Netherlands</h4>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6" data-cue="slideInUp">
                    <div class="contact-info-card contact-location-info">
                        <p class="box-title">Portugal</p>
                        <h4 class="box-text">Av. da Liberdade 706 1 Esq,</br>4710-249 Braga,</br>Portugal</h4>
                    </div>
                </div>
            </div>
            <div></br></div>
            <div class="col-md d-none d-xl-block">
                    <hr class="title-line bg-black3 mb-0">
            </div>
            <div></br></div>
            <div class="row gy-30 justify-content-lg-around ">
                <div class="col-xl-4 col-lg-6" data-cue="slideInUp">
                    <div class="contact-info-card contact-location-info">
                        <p class="box-title">United States of America</p>
                        <h4 class="box-text">66 W Flagler St, 9th Floor, Suite 900</br>Miami,</br>Florida 33137</h4>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6" data-cue="slideInUp">
                    <div class="contact-info-card contact-location-info">
                        <p class="box-title">Brazil</p>
                        <h4 class="box-text">Al. Rio Negro 503, 10th Floor, Room 1017,</br>Alphaville Industrial, Barueri,</br>São Paulo 06454-000</h4>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6" data-cue="slideInUp">
                    <div class="contact-info-card contact-location-info">
                        <p class="box-title">Brazil</p>
                        <h4 class="box-text">R. Hilda Del Nero Bisquolo, 102</br>Jardim Florida,</br>Jundiaí</br>São Paulo 13208-703</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer-bottom">
                <div class="widget-area">
                    <div class="row justify-content-between">
                        <div class="col-sm-6 col-xl-auto" data-cue="slideInUp">
                            <div class="widget widget_nav_menu footer-widget">
                                <h3 class="widget_title">By Vertical</h3>
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li><a href="government-defense">Government & Defence</a></li>
                                        <li><a href="retail-e-commerce">Retail & E-Commerce</a></li>
                                        <li><a href="aviation">Aviation</a></li>
                                        <li><a href="manufacturing-industrial">Manufacturing & Industrial</a></li>
                                        <li><a href="technology-saas">Technology & SaaS</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-auto" data-cue="slideInUp">
                            <div class="widget widget_nav_menu footer-widget">
                                <h3 class="widget_title">Services</h3>
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li><a href="consulting">Consulting & Advisory</a></li>
                                        <li><a href="managed-security-service-provider">Managed Security Services (MSSP)</a></li>
                                        <li><a href="offensive-security">Offensive Security</a></li>
                                        <li><a href="implementation-integration">Implementation & Integration</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xl-auto" data-cue="slideInUp">
                            <div class="widget widget_nav_menu footer-widget">
                                <h3 class="widget_title">Solutions</h3>
                                <div class="menu-all-pages-container">
                                      <ul class="menu">
                                        <li><a href="cloud-security">Cloud Security</a></li>
                                        <li><a href="endpoint-security">Endpoint Security (XDR)</a></li>
                                        <li><a href="vulnerability-management">Vulnerability Management</a></li>
                                        <li><a href="privileged-access">Privileged Access</a></li>
                                        <li><a href="identity-fraud-prevention">Identity & Fraud Prevention</a></li>
                                        <li><a href="network-application-security">Network & Application Security</a></li>
                                        <li><a href="agentic-ai-hyperautomation">Agentic AI Hyperautomation</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xl-auto" data-cue="slideInUp">
                            <div class="widget widget_nav_menu footer-widget">
                                <h3 class="widget_title">Resources</h3>
                                <div class="menu-all-pages-container">
                                      <ul class="menu">
                                        <li><a href="guides">Guides</a></li>
                                        <li><a href="cybersecurity-briefs">Briefs</a></li>
                                        <li><a href="reports">Reports</a></li>
                                        <li><a href="ransomware-readiness-quick-scan">Ransomeware Readiness Quick-Scan</a></li>
                                        <li><a href="vendor-quick-scan">Vendor Risk Quick-Scan</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xl-auto" data-cue="slideInUp">
                            <div class="widget footer-widget">
                                <div class="th-widget-contact">
                                    <h3 class="widget_title">Follow Us</h3>
                                    <div class="th-social style10">
                                        <a href="https://www.linkedin.com/company/trescudo" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="https://x.com/TrescudoCyber" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.youtube.com/@trescudo" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap bg-gray">
            <div class="container">
                <div class="row gy-2">
                    <div class="col-lg-6" data-cue="slideInUp">
                        <p class="copyright-text">Copyright 2025 <a href="https://ratchet.capital" target="_blank" rel="noopener">Ratchet Capital</a> All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 text-center text-lg-end" data-cue="slideInUp">
                        <div class="footer-links">
                            <ul>
                                <li>
                                    <a href="privacy-policy" target="_blank" rel="noopener">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#contact-sec">Contact</a>
                                </li>
                                <li>
                                    <a href="terms" target="_blank" rel="noopener">Terms and Conditions.</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>

{# Scroll To Top #}
<div class="scroll-top">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
    </svg>
</div>
