{# Mobile Menu #}
<div class="th-menu-wrapper">
    <div class="th-menu-area text-center">
        <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="/"><img src="assets/img/logo.svg" alt="Trescudo"></a>
        </div>
        <div class="th-mobile-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="https://blog.trescudo.com">Blog</a></li>
                <li class="menu-item-has-children">
                    <a href="#">Services</a>
                        <ul class="sub-menu">
                            <li><a href="consulting">Consulting & Advisory</a></li>
                            <li><a href="managed-security-service-provider">Managed Security Services (MSSP)</a></li>
                            <li><a href="offensive-security">Offensive Security</a></li>
                            <li><a href="implementation-integration">Implementation & Integration</a></li>
                        </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Solutions</a>
                        <ul class="sub-menu">
                            <li><a href="cloud-security">Cloud Security</a></li>
                            <li><a href="endpoint-security">Endpoint Security (XDR)</a></li>
                            <li><a href="vulnerability-management">Vulnerability Management</a></li>
                            <li><a href="privileged-access">Privileged Access</a></li>
                            <li><a href="identity-fraud-prevention">Identity & Fraud Prevention</a></li>
                            <li><a href="network-application-security">Network & Application Security</a></li>
                            <li><a href="agentic-ai-hyperautomation">Agentic AI Hyperautomation</a></li>
                        </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Verticals</a>
                        <ul class="sub-menu">
                            <li><a href="government-defense">Government & Defence</a></li>
                            <li><a href="retail-e-commerce">Retail & E-Commerce</a></li>
                            <li><a href="aviation">Aviation</a></li>
                            <li><a href="manufacturing-industrial">Manufacturing & Industrial</a></li>
                            <li><a href="technology-saas">Technology & SaaS</a></li>
                        </ul>
                </li>
                 <li class="menu-item-has-children">
                    <a href="#">Resources</a>
                        <ul class="sub-menu">
                            <li><a href="guides">Guides</a></li>
                            <li><a href="cybersecurity-briefs">Briefs</a></li>
                            <li><a href="reports">Reports</a></li>
                            <li><a href="ransomware-readiness-quick-scan">Ransomeware Readiness Quick-Scan</a></li>
                            <li><a href="vendor-quick-scan">Vendor Risk Quick-Scan</a></li>
                        </ul>
                </li>
                <li>
                    <a href="contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>
