{# Preloader #}
<div class="preloader ">
    <button class="th-btn preloaderCls">Cancel Preloader </button>
    <div class="preloader-inner">
        <div class="bounce">
            <img src="assets/img/logo-icon.svg" alt="img">
        </div>
        <span class="loader">
            Trescudo
            <span class="loading-text">Trescudo</span>
        </span>
    </div>
</div>
