---
layout: base.njk
title: "Trescudo Cybersecurity | The Agentic AI Security Platform"
description: "Trescudo is a global provider of cybersecurity products and services. We deliver a unified cybersecurity platform powered by Agentic AI. We provide curated solutions and expert services to ensure total enterprise resilience."
keywords: "Trescudo, cybersecurity, AI, SentinelOne, Orca Security, PerisAI, Vicarius, Segura, VU, NSFocus, Sophos vs SentinelOne comparison, Darktrace alternative, Secunet SINA alternative, Orange Cyberdefense MDR review"
slug: ""
ogImage: "http://trescudo.com/thumbnail.jpg"
ogTitle: "Trescudo Cybersecurity"
onepageNav: true
particles: true
---

{# PAGE CONTENT ONLY #}
<div class="th-hero-wrapper hero-2" id="hero">
        <div class="th-hero-bg" data-bg-src="/assets/img/hero/hero_bg_2_1.jpg">
        </div>
        <div class="hero-inner">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-10">
                        <div class="hero-style2 text-center">
                            <h1 class="hero-title text-white text-anim2" data-cue="slideInUp" data-delay="100">
                                Your Trusted Partner in Cybersecurity
                            </h1>
                            <p class="hero-text text-anim2" data-cue="slideInUp" data-delay="300">From Automated to Autonomous with Agentic AI</p>
                            <div class="btn-wrap justify-content-center" data-cue="slideInUp" data-delay="500">
                            <!--<a href="service.html" class="th-btn style2">Get Started <i class="far fa-long-arrow-right ms-2"></i></a>-->
                                <a href="/agentic-ai-hyperautomation" class="th-btn style-border2">Learn More <i class="far fa-long-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="hero-category-wrap">
                <div class="hero-category-bg">
                    <img src="/assets/img/hero/hero-bg.svg" width="1920" height="445" alt="Trescudo AI binds multiple solutions into a cohesive cybersecurity infrastructure" loading="lazy">
                </div>
            </div>
        </div>
    </div>

    <!--==============================
    Brand Area  
    ==============================-->
    <div class="overflow-hidden brand-area-2 position-relative z-index-2">
        <div class="container-fluid p-0">
            <div class="brand-wrap2 pt-40 pb-40 text-center">
                <div class="swiper th-slider" data-cue="slideInUp" id="brandSlider1" data-slider-options='{"breakpoints":{"0":{"slidesPerView":"auto"}},"autoplay":{"delay":0,"disableOnInteraction":false},"noSwiping":"false","speed":6000,"spaceBetween":160}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="brand-box">
                                <img src="/assets/img/brand/SentinelOne.svg" alt="SentinelOne" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="brand-box">
                                <img src="/assets/img/brand/Orca-Security.svg" alt="Orca Security" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="brand-box">
                                <img src="/assets/img/brand/segura.svg" alt="Segura" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="brand-box">
                                <img src="/assets/img/brand/Vu-Logo.svg" alt="Vu" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="brand-box">
                                <img src="/assets/img/brand/vicarius.svg" alt="Vicarius" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="brand-box">
                                <img src="/assets/img/brand/nsfocus.svg" alt="NSFocus" loading="lazy">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/agentic-ai-hyperautomation" class="brand-box">
                                <img src="/assets/img/brand/perisai.svg" alt="PerisAI" loading="lazy">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div><!--==============================
    Feature Area  
    ==============================-->
    <section class="space overflow-hidden">
        <div class="container">
            <div class="title-area text-xl-start text-center">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-auto">
                        <h2 class="sub-title2 text-white text-anim justify-content-xl-start justify-content-center" data-cue="slideInLeft">EUROPEAN CYBERSECURITY</h2>
                    </div>
                    <div class="col-md d-none d-xl-block">
                        <hr class="title-line bg-black3 mb-0">
                    </div>
                    <div class="col-xl-5">
                        <h2 class="sec-title style2 text-anim2 text-white mb-0" data-cue="slideInLeft">The Modern Threat Landscape in Europe</h2>
                    </div>
                    <p class="hero-text text-anim2" data-cue="slideInUp" data-delay="300">European organizations face unprecedented, growing challenges from sophisticated cyber attacks, an expanding digital attack surface, and complex regulatory demands like GDPR, DORA, and NIS2.</p>
                </div>
            </div>
            <div class="row gy-4 justify-content-center">
                <div class="col-xl-4 col-md-6" data-cue="slideInUp">
                    <div class="feature-card style2">
                        <div class="box-img">
                            <img src="/assets/img/feature/2-1.png" alt="Patching Your Workload" loading="lazy">
                        </div>
                        <h3 class="box-title">90 %</h3>
                        <p class="box-text">Reduction by Our Solutions of</br>Manual Patching Workload </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6" data-cue="slideInUp">
                    <div class="feature-card style2">
                        <div class="box-img">
                            <img src="/assets/img/feature/2-2.png" alt="Agentless Cloud Visibility" loading="lazy">
                        </div>
                        <h3 class="box-title">100 %</h3>
                        <p class="box-text">Agentless Cloud Visibility</br>Eliminating Performance Impact</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6" data-cue="slideInUp">
                    <div class="feature-card style2">
                        <div class="box-img">
                            <img src="/assets/img/feature/2-3.png" alt="20 years of cybersecurity experience" loading="lazy">
                        </div>
                        <h3 class="box-title">20 +</h3>
                        <p class="box-text">Years of Hands-On </br>Cybersecurity Expertise</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
Cta Area  
==============================-->
    <div class="cta-area-1 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-wrap1" data-cue="slideInUp">
                        <h2 class="sec-title style2 text-white text-center mb-0">
                            RAPIDLY GROWING MARKET DEMAND
                        </h2>
                        <p class="sec-text text-gray3 mb-25 text-center" data-cue="slideInUp">The European cybersecurity market is projected to nearly double by 2030, driven by digital transformation and escalating threats. This highlights the critical need for strategic investment in robust security solutions.
                        </p>
                        <p class="sec-text text-gray3 mb-25 text-center" data-cue="slideInUp">The <b>2025 Verizon Business Data Breach Investigations Report</b> shows worrying year-on-year increases in vulnerability exploits.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--==============================
Counter Area  
==============================-->
    <div class="counter-area-2 space-bottom overflow-hidden">
        <div class="container">
            <div class="counter-wrap2">
                <div class="counter-card2" data-cue="slideInUp">
                    <div class="media-body">
                        <h2 class="box-number text-white"><span class="counter-number">34</span>%</h2>
                        <p class="box-text">Credentials</p>
                    </div>
                </div>
                <div class="counter-card2" data-cue="slideInUp">
                    <div class="media-body">
                        <h2 class="box-number text-white"><span class="counter-number">8</span>X</h2>
                        <p class="box-text">Edge and VPN</p>
                    </div>
                </div>
                <div class="counter-card2" data-cue="slideInUp">
                    <div class="media-body">
                        <h2 class="box-number text-white"><span class="counter-number">37</span>%</h2>
                        <p class="box-text">Ransomeware</p>
                    </div>
                </div>
                <div class="counter-card2" data-cue="slideInUp">
                    <div class="media-body">
                        <h2 class="box-number text-white"><span class="counter-number">2</span>X</h2>
                        <p class="box-text">Third Parties</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
    About Area  
    ==============================-->
    <div class="overflow-hidden position-relative space overflow-hidden" id="about-sec">
        <div class="container">
            <div class="row gx-100 gy-60 align-items-center">
                <div class="col-xxl-6 col-xl-6">
                    <div class="img-box2" data-cue="slideInLeft">
                        <div class="img1">
                            <img src="/assets/img/normal/about-thumb2-1.svg" alt="The Trescudo AI Advantage" loading="lazy">
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6">
                    <div class="about-wrap2">
                        <div class="title-area mb-35">
                            <span class="sub-title2 mb-30 text-anim text-white" data-cue="slideInUp">The Trescudo Advantage</span>
                            <h2 class="sec-title style2 text-anim2 text-white" data-cue="slideInUp">A Holistic Framework</h2>
                        </div>
                        <p class="sec-text text-gray3 mb-25" data-cue="slideInUp">We provide more than just technology; we deliver a complete framework for cyber resilience. Our curated, best-in-class portfolio provides integrated defense across your entire environment, powered by AI-driven intelligence and decades of expertise.</p>
                        <div class="checklist style4" data-cue="slideInUp">
                            <ul>
                                <li><img src="/assets/img/icon/check-icon1-1.svg" alt="Cloud Security - tick"> Total agentless visibility and threat detection across your multi-cloud estate.</li loading="lazy">
                                <li><img src="/assets/img/icon/check-icon1-1.svg" alt="Endpoint & XDR - tick"> Autonomous protection to stop breaches faster on every endpoint.</li loading="lazy">
                                <li><img src="/assets/img/icon/check-icon1-1.svg" alt="Vulnerbility Management - tick"> Proactively reduce your attack surface with AI-powered remediation.</li loading="lazy">
                                <li><img src="/assets/img/icon/check-icon1-1.svg" alt="Identity & Access - tick"> Secure privileged accounts and customer digital journeys.</li loading="lazy">
                                <li><img src="/assets/img/icon/check-icon1-1.svg" alt="Network & Apps - tick"> Ensure resilience and availability of your critical online services.</li loading="lazy">
                            </ul>
                        </div>
                        <!--<div class="btn-wrap mt-50" data-cue="slideInUp">
                            <a href="/contact" class="th-btn style-border3">Discover More <i class="fas fa-arrow-right ms-2"></i></a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--==============================
    Service Area  
    ==============================-->
    <section class="overflow-hidden space-bottom overflow-hidden" id="service-sec">
        <div class="service-wrap2 bg-gray space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-7 col-xl-8">
                        <div class="title-area text-center mb-50">
                            <span class="sub-title2 justify-content-center mb-30 text-anim text-white" data-cue="slideInUp">Solutions Offering</span>
                            <h2 class="sec-title style2 text-anim2 text-white" data-cue="slideInUp">Our Curated Portfolio</h2>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="service-list-wrap">
                            <div class="service-card2 hover-item " data-cue="slideInUp">
                                <div class="box-img">
                                    <img src="/assets/img/service/service_card_2_1.png" alt="Orca Security" loading="lazy">
                                </div>
                                <div class="box-content">
                                    <div class="box-number text-white">
                                        01 </div>
                                    <h3 class="box-title text-white"><a href="/cloud-security">Cloud Security</a></h3>
                                    <p class="box-text">Revolutionary 100% agentless CNAPP delivering complete visibility into your cloud environment in minutes using its patented SideScanning™ technology.</p>
                                </div>
                                <a href="/cloud-security" class="icon-btn style2"><i class="fal fa-arrow-right"></i></a>
                            </div>
                            <div class="service-card2 hover-item item-active" data-cue="slideInUp">
                                <div class="box-img">
                                    <img src="/assets/img/service/service_card_2_2.png" alt="SentinelOne" loading="lazy">
                                </div>
                                <div class="box-content">
                                    <div class="box-number text-white">
                                        02 </div>
                                    <h3 class="box-title text-white"><a href="/endpoint-security">Endpoint & XDR</a></h3>
                                    <p class="box-text">A leader in autonomous endpoint protection, SentinelOne's AI-powered platform provides market-leading prevention, detection, and response capabilities.</p>
                                </div>
                                <a href="/endpoint-security" class="icon-btn style2"><i class="fal fa-arrow-right"></i></a>
                            </div>
                            <div class="service-card2 hover-item " data-cue="slideInUp">
                                <div class="box-img">
                                    <img src="/assets/img/service/service_card_2_3.png" alt="Vicarius Security" loading="lazy">
                                </div>
                                <div class="box-content">
                                    <div class="box-number text-white">
                                        03 </div>
                                    <h3 class="box-title text-white"><a href="/vulnerability-management">Vulnerability Management</a></h3>
                                    <p class="box-text">Vicarius offers an end-to-end vulnerability platform that consolidates discovery, prioritization, and remediation with unique Patchless Protection™.</p>
                                </div>
                                <a href="/vulnerability-management" class="icon-btn style2"><i class="fal fa-arrow-right"></i></a>
                            </div>
                            <div class="service-card2 hover-item " data-cue="slideInUp">
                                <div class="box-img">
                                    <img src="/assets/img/service/service_card_2_4.png" alt="Segura Privileged Access" loading="lazy">
                                </div>
                                <div class="box-content">
                                    <div class="box-number text-white">
                                        04 </div>
                                    <h3 class="box-title text-white"><a href="/privileged-access">Privileged Access</a></h3>
                                    <p class="box-text">A Gartner Magic Quadrant leader, Segura provides a robust platform to control, monitor, and audit privileged access across your entire infrastructure, from on-prem to cloud.</p>
                                </div>
                                <a href="/privileged-access" class="icon-btn style2"><i class="fal fa-arrow-right"></i></a>
                            </div>
                            <div class="service-card2 hover-item " data-cue="slideInUp">
                                <div class="box-img">
                                    <img src="/assets/img/service/service_card_2_5.png" alt="Vu Passwordless" loading="lazy">
                                </div>
                                <div class="box-content">
                                    <div class="box-number text-white">
                                        05 </div>
                                    <h3 class="box-title text-white"><a href="/identity-fraud-prevention">Identity & Fraud Prevention</a></h3>
                                    <p class="box-text">VU Security specializes in preventing fraud and protecting customer digital identities through advanced biometric authentication and secure onboarding.</p>
                                </div>
                                <a href="/identity-fraud-prevention" class="icon-btn style2"><i class="fal fa-arrow-right"></i></a>
                            </div>
                            <div class="service-card2 hover-item " data-cue="slideInUp">
                                <div class="box-img">
                                    <img src="/assets/img/service/service_card_2_6.png" alt="NS Focus Carrier Grade" loading="lazy">
                                </div>
                                <div class="box-content">
                                    <div class="box-number text-white">
                                        06 </div>
                                    <h3 class="box-title text-white"><a href="/network-application-security">Network & App Security</a></h3>
                                    <p class="box-text">A proven leader in carrier-grade Anti-DDoS and application security, NSFOCUS protects the world's largest financial and telecom providers from disruptive attacks.</p>
                                </div>
                                <a href="/network-application-security" class="icon-btn style2"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--==============================
    Marquee Area  
    ==============================-->
    <div class="cta-area-1 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-wrap1" data-cue="slideInUp">
                        <h2 class="sec-title style2 text-white text-center mb-0">
                            SOLUTIONS FOR EVERY VERTICAL
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overflow-hidden" data-cue="slideInUp">
        <div class="marquee-wrap2 bg-theme pt-40 pb-40">
            <div class="container-fluid p-0">
                <div class="swiper th-slider marquee-slider2" data-slider-options='{"breakpoints":{"0":{"slidesPerView":"auto"}},"autoplay":{"delay":0,"disableOnInteraction":false},"noSwiping":"false","speed":10000,"spaceBetween":30}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/government-defense">
                                    Government </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/government-defense">
                                    Defense </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/retail-e-commerce">
                                    Retail & E-Commerce </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/aviation">
                                    Aviation </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/manufacturing-industrial">
                                    Manufacturing </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/manufacturing-industrial">
                                    Industrial </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/technology-saas">
                                    Technology </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/technology-saas">
                                    SaaS </a>
                            </div>
                        </div>
                        <!--<div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="#">
                                    Logistics </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="#">
                                    Utilities </a>
                            </div>
                        </div>-->

                    </div>
                </div>

            </div>
        </div>
        <div class="marquee-wrap3 bg-gray pt-40 pb-40">
            <div class="container-fluid p-0">
                <div class="swiper th-slider marquee-slider2" data-slider-options='{"breakpoints":{"0":{"slidesPerView":"auto"}},"autoplay":{"delay":0,"disableOnInteraction":false},"noSwiping":"false","speed":10000,"spaceBetween":30}'>
                    <div class="swiper-wrapper">
                        <!--<div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="#">
                                    Utilities </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="#">
                                    Logistics </a>
                            </div>
                        </div>-->
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/technology-saas">
                                    SaaS </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/technology-saas">
                                    Technology </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/manufacturing-industrial">
                                    Industrial </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/manufacturing-industrial">
                                    Manufacturing </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/aviation">
                                    Aviation </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/retail-e-commerce">
                                    Retail & E-Commerce </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/government-defense">
                                    Defense </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="marquee-card style2 text-white">
                                <a target="_blank" rel="noopener" href="/government-defense">
                                    Government </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--==============================
    Project Area  
    ==============================
    <section class="position-relative space overflow-hidden" id="project-sec">
        <div class="container">
            <div class="title-area text-xl-start text-center z-index-n1">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-auto">
                        <div class="shadow-title style3">Project</div>
                        <h2 class="sub-title2 text-white text-anim justify-content-xl-start justify-content-center" data-cue="slideInLeft">Case Study</h2>
                    </div>
                    <div class="col-md d-none d-xl-block">
                        <hr class="title-line bg-black3 mb-0">
                    </div>
                    <div class="col-xl-3">
                        <h2 class="sec-title style2 text-anim2 text-white mb-0" data-cue="slideInLeft">Our Projects & Case Studies</h2>
                    </div>
                </div>
            </div>
            <div class="row gx-80 gy-80 justify-content-center">
                <div class="col-md-6" data-cue="slideInUp">
                    <div class="project-card2">
                        <div class="box-img">
                            <img src="/assets/img/service/service_card_2_1.jpg" alt="img" loading="lazy">
                            <a href="project-details.html" class="icon-btn"><i class="fal fa-arrow-up-right"></i></a>
                        </div>
                        <div class="box-content">
                            <p class="box-subtitle text-white">User Research</p>
                            <h3 class="box-title text-white"><a href="project-details.html">Speech recognizer using deep learning</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" data-cue="slideInUp">
                    <div class="project-card2">
                        <div class="box-img">
                            <img src="/assets/img/service/service_card_2_2.jpg" alt="img" loading="lazy">
                            <a href="project-details.html" class="icon-btn"><i class="fal fa-arrow-up-right"></i></a>
                        </div>
                        <div class="box-content">
                            <p class="box-subtitle text-white">Robotics, Program</p>
                            <h3 class="box-title text-white"><a href="project-details.html">AI Machine Learning</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" data-cue="slideInUp">
                    <div class="project-card2">
                        <div class="box-img">
                            <img src="/assets/img/service/service_card_2_3.jpg" alt="img" loading="lazy">
                            <a href="project-details.html" class="icon-btn"><i class="fal fa-arrow-up-right"></i></a>
                        </div>
                        <div class="box-content">
                            <p class="box-subtitle text-white">Technology, Program</p>
                            <h3 class="box-title text-white"><a href="project-details.html">Smart House Technology</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" data-cue="slideInUp">
                    <div class="project-card2">
                        <div class="box-img">
                            <img src="/assets/img/service/service_card_2_4.jpg" alt="img" loading="lazy">
                            <a href="project-details.html" class="icon-btn"><i class="fal fa-arrow-up-right"></i></a>
                        </div>
                        <div class="box-content">
                            <p class="box-subtitle text-white">AI, Program</p>
                            <h3 class="box-title text-white"><a href="project-details.html">Artificial Intelligence Dev </a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    ==============================
    Cta Area  
    ==============================-->
    <section class="cta-area-2 overflow-hidden" id="contact-sec">
        <div class="cta-wrap2" data-bg-src="/assets/img/bg/cta-bg-2.png" data-overlay="black" data-opacity="7">
           <!-- <div class="cta-thumb2-1" data-cue="slideInLeft">
                <div class="img">
                    <img src="/assets/img/normal/cta-img2-1.jpg" alt="img" loading="lazy">
                </div>
            </div>
            <div class="cta-thumb2-2" data-cue="slideInRight">
                <div class="img">
                    <img src="/assets/img/normal/cta-img2-2.jpg" alt="img" loading="lazy">
                </div>
            </div>-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="title-area text-center mb-0">
                            <span class="sub-title2 justify-content-center mb-30 text-anim text-white" data-cue="slideInUp">Cyber Readiness</span>
                            <h2 class="sec-title style2 text-anim2 text-white" data-cue="slideInUp">Get Your Free Consultation</h2>
                            <div class="btn-wrap justify-content-center mt-50">
                                <a href="/contact" class="th-btn style-border2">Book a Call With Our Team <i class="far fa-long-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
    Team Area  
    ==============================
    <section class="space overflow-hidden team-area-1">
        <div class="container">
            <div class="title-area text-xl-start text-center">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-auto">
                        <h2 class="sub-title2 text-white text-anim justify-content-xl-start justify-content-center" data-cue="slideInLeft">AI Expert Team</h2>
                    </div>
                    <div class="col-md d-none d-xl-block">
                        <hr class="title-line bg-black3 mb-0">
                    </div>
                    <div class="col-xl-4">
                        <h2 class="sec-title style2 text-anim2 text-white mb-0" data-cue="slideInLeft">Our Professionals AI
                            Expert Team.</h2>
                    </div>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-xl-6">
                    <div class="team-wrap1" data-cue="slideInLeft">
                        <p class="text-gray3 ">Artificial Intelligence (AI) technology refers to the simulation of human intelligence in machines that are programmed to think, learn, and make decisions. AI technology leverages data, algorithms, and computing power to automate tasks, optimize processes, and provide insights that improve business performance and enhance user experiences.</p>
                        <p class="text-gray3 mb-0">AI is transforming industries by enabling machines to perform tasks that previously required human intervention,</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="th-team team-card" data-cue="slideInUp">
                        <div class="team-img">
                            <img src="/assets/img/team/team_1_1.png" alt="Team" loading="lazy">
                        </div>
                        <div class="team-card-content">
                            <h3 class="box-title"><a href="team-details.html">Alex Javed</a></h3>
                        </div>
                        <div class="th-social">
                            <a target="_blank" rel="noopener" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" rel="noopener" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" rel="noopener" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" rel="noopener" href="https://whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="th-team team-card" data-cue="slideInUp">
                        <div class="team-img">
                            <img src="/assets/img/team/team_1_2.png" alt="Team" loading="lazy">
                        </div>
                        <div class="team-card-content">
                            <h3 class="box-title"><a href="team-details.html">Jenny William</a></h3>
                        </div>
                        <div class="th-social">
                            <a target="_blank" rel="noopener" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" rel="noopener" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" rel="noopener" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" rel="noopener" href="https://whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="th-team team-card" data-cue="slideInUp">
                        <div class="team-img">
                            <img src="/assets/img/team/team_1_3.png" alt="Team" loading="lazy">
                        </div>
                        <div class="team-card-content">
                            <h3 class="box-title"><a href="team-details.html">Daniel Thomas</a></h3>
                        </div>
                        <div class="th-social">
                            <a target="_blank" rel="noopener" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" rel="noopener" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" rel="noopener" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" rel="noopener" href="https://whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="th-team team-card" data-cue="slideInUp">
                        <div class="team-img">
                            <img src="/assets/img/team/team_1_4.png" alt="Team" loading="lazy">
                        </div>
                        <div class="team-card-content">
                            <h3 class="box-title"><a href="team-details.html">Jessica Lauren</a></h3>
                        </div>
                        <div class="th-social">
                            <a target="_blank" rel="noopener" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" rel="noopener" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" rel="noopener" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" rel="noopener" href="https://whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="th-team team-card" data-cue="slideInUp">
                        <div class="team-img">
                            <img src="/assets/img/team/team_1_5.png" alt="Team" loading="lazy">
                        </div>
                        <div class="team-card-content">
                            <h3 class="box-title"><a href="team-details.html">Alex Joseph</a></h3>
                        </div>
                        <div class="th-social">
                            <a target="_blank" rel="noopener" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" rel="noopener" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" rel="noopener" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" rel="noopener" href="https://whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 align-self-center text-center">
                    <a href="team.html" class="circle-btn th-btn style4 mt-xl-0 mt-30" data-cue="slideInUp">
                        View All Members<i class="far fa-long-arrow-right ms-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </section> 
    ==============================
    Why Choose Us Area  
    ==============================
    <div class="why-sec-2 overflow-hidden overflow-hidden">
        <div class="why-wrap2 space-top bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-4">
                        <div class="title-area">
                            <span class="sub-title2 mb-30 text-anim text-white" data-cue="slideInUp">Leading the AI Revolution</span>
                            <h2 class="sec-title style2 text-anim2 text-white" data-cue="slideInUp">Discover The Future of AI Innovation</h2>
                        </div>
                        <div class="why-card-wrap2">

                            <div class="why-card" data-cue="slideInUp">
                                <div class="box-details">
                                    <h4 class="box-title">Vision AI Technology</h4>
                                    <p class="box-text">Our Technology AI Generator website empowers individuals</p>
                                </div>
                            </div>
                            <div class="why-card" data-cue="slideInUp">
                                <div class="box-details">
                                    <h4 class="box-title">AI for Everyone</h4>
                                    <p class="box-text">Our Technology AI Generator website empowers individuals</p>
                                </div>
                            </div>
                            <div class="why-card" data-cue="slideInUp">
                                <div class="box-details">
                                    <h4 class="box-title">Mission AI Technology</h4>
                                    <p class="box-text">Our Technology AI Generator website empowers individuals</p>
                                </div>
                            </div>
                            <div class="circle-tag" data-cue="slideInUp">
                                <span class="circle-title-anime">ROBOR - AI AND AUTOMATION INTEGRATION.</span>
                                <a href="#" class="icon-btn">
                                    <i class="fal fa-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="why-counter-wrap-2">
                            <div class="box-icon">
                                <img src="/assets/img/icon/why-icon2-1.svg" alt="img" loading="lazy">
                            </div>
                            <div class="why-counter-content">
                                <h4 class="box-title text-white">Innovate Faster with Our AI Generator Platform</h4>
                                <p class="box-text text-gray3">From generating complex algorithms to simple AI-driven tools, we offer cutting-edge Enables machines to interpret and analyze visual data such as images, videos, and real-world objects.</p>
                            </div>
                            <div class="why-counter-card">
                                <h2 class="box-number text-white"><span class="counter-number">24</span><span class="counter-marker">+</span></h2>
                                <h4 class="counter-text text-white">Digital Experience</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-8 text-xxl-end text-center">
                        <div class="why-img-box2" data-cue="slideInUp">
                            <div class="img1">
                                <img src="/assets/img/normal/why-thumb2-1.png" alt="img" loading="lazy">
                            </div>
                            <div class="img2 jump">
                                <img src="/assets/img/normal/why-thumb2-2.png" alt="img" loading="lazy">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    ==============================
    Testimonial Area  
    ==============================
    <section class="testi-area-2 space-top overflow-hidden">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-7 col-xl-8">
                    <div class="title-area text-center mb-50">
                        <span class="sub-title2 justify-content-center mb-30 text-anim text-white" data-cue="slideInUp">Testimonials</span>
                        <h2 class="sec-title style2 text-anim2 text-white" data-cue="slideInUp">What Our Clients Say About Us?</h2>
                    </div>
                </div>
            </div>
            <div class="testi-wrap2" data-cue="slideInUp">
                <div class="testi-quote-icon">
                    <img src="/assets/img/icon/quote-icon.svg" alt="icon" loading="lazy">
                </div>
                <div class="slider-area">
                    <div class="swiper th-slider testi-slider2 " id="testiSlide2" data-slider-options='{"autoHeight": "true","effect": "fade"}'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testi-card2">
                                    <div class="box-thumb">
                                        <img src="/assets/img/testimonial/testi2-1.jpg" alt="img" loading="lazy">
                                    </div>
                                    <div class="box-content">
                                        <p class="box-text">“AI is transforming industries by enabling machines to perform tasks that previously required human intervention, such as recognizing speech, analyzing images, making predictions, and even understanding emotions.”</p>
                                        <h3 class="box-title">Michael Lacefield</h3>
                                        <p class="box-desig">Co-founder, XYZ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-card2">
                                    <div class="box-thumb">
                                        <img src="/assets/img/testimonial/testi2-2.jpg" alt="img" loading="lazy">
                                    </div>
                                    <div class="box-content">
                                        <p class="box-text">“Stay informed about our upcoming events and campaigns. AI is transforming industries by enabling machines to perform tasks that previously required human intervention, there are plenty of ways to get involved and support.”</p>
                                        <h3 class="box-title">Sophia Jennifer</h3>
                                        <p class="box-desig">Business Analyst</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-card2">
                                    <div class="box-thumb">
                                        <img src="/assets/img/testimonial/testi2-1.jpg" alt="img" loading="lazy">
                                    </div>
                                    <div class="box-content">
                                        <p class="box-text">“AI is transforming industries by enabling machines to perform tasks that previously required human intervention, such as recognizing speech, analyzing images, making predictions, and even understanding emotions.”</p>
                                        <h3 class="box-title">Michael Lacefield</h3>
                                        <p class="box-desig">Co-founder, XYZ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-card2">
                                    <div class="box-thumb">
                                        <img src="/assets/img/testimonial/testi2-2.jpg" alt="img" loading="lazy">
                                    </div>
                                    <div class="box-content">
                                        <p class="box-text">“Stay informed about our upcoming events and campaigns. AI is transforming industries by enabling machines to perform tasks that previously required human intervention, there are plenty of ways to get involved and support.”</p>
                                        <h3 class="box-title">Sophia Jennifer</h3>
                                        <p class="box-desig">Business Analyst</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-pagination-wrap">
                            <div class="slider-pagination2"></div>
                            <div class="icon-box">
                                <button data-slider-prev="#testiSlide2" class="slider-arrow style-border3 default"><i class="far fa-arrow-left"></i></button>
                                <button data-slider-next="#testiSlide2" class="slider-arrow style-border3 default"><i class="far fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    ==============================
    Blog Area  
    ==============================
    <section class="overflow-hidden space overflow-hidden" id="blog-sec">
        <div class="blog-wrap2 space bg-gray">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xxl-7 col-xl-8">
                        <div class="title-area mb-50">
                            <span class="sub-title2 mb-30 text-anim text-white" data-cue="slideInUp">News & Blog</span>
                            <h2 class="sec-title style2 text-anim2 text-white" data-cue="slideInUp">Our Latest News & Blog</h2>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="sec-btn" data-cue="slideInRight">
                            <a href="blog.html" class="th-btn style-border2">View All Post <i class="far fa-long-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row gy-40 justify-content-center">
                    <div class="col-xl-4 col-lg-6" data-cue="slideInUp">
                        <div class="blog-card style2">
                            <div class="blog-img">
                                <a href="blog-details.html">
                                    <img src="/assets/img/blog/blog_2_1.jpg" alt="blog image" loading="lazy">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a href="blog.html"><i class="far fa-calendar"></i>24 Jan, 2025</a>
                                    <a href="blog.html"><i class="far fa-user"></i>by admin</a>
                                </div>
                                <h3 class="box-title"><a href="blog-details.html">The rise of AI and Robotics in retail customer experiences </a></h3>
                                <a href="blog-details.html" class="th-btn style-border3">Read More <i class="far fa-long-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6" data-cue="slideInUp">
                        <div class="blog-card style2">
                            <div class="blog-img">
                                <a href="blog-details.html">
                                    <img src="/assets/img/blog/blog_2_2.jpg" alt="blog image" loading="lazy">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a href="blog.html"><i class="far fa-calendar"></i>16 Jul, 2025</a>
                                    <a href="blog.html"><i class="far fa-user"></i>by admin</a>
                                </div>
                                <h3 class="box-title"><a href="blog-details.html">How AI is Transforming Businesses Across Industries</a></h3>
                                <a href="blog-details.html" class="th-btn style-border3">Read More <i class="far fa-long-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6" data-cue="slideInUp">
                        <div class="blog-card style2">
                            <div class="blog-img">
                                <a href="blog-details.html">
                                    <img src="/assets/img/blog/blog_2_3.jpg" alt="blog image" loading="lazy">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a href="blog.html"><i class="far fa-calendar"></i>30 Jun, 2025</a>
                                    <a href="blog.html"><i class="far fa-user"></i>by admin</a>
                                </div>
                                <h3 class="box-title"><a href="blog-details.html">Understanding Deep Learning and Neural Networks in AI</a></h3>
                                <a href="blog-details.html" class="th-btn style-border3">Read More <i class="far fa-long-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--==============================
